.main{
    background-color: #7bbcdd;
    transition: height 2s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: nowrap;
}

.main_upper{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.flex_left{
    flex:1;
    display: flex;
    flex-direction: row;
}

.currentName{
    flex: 1;
    text-align: center;
}

.currentName >p{
    margin: 0;
    padding: 10px 0 0 0;
    color: white;
    font-weight: bold;
    font-size:xx-large;
}

.flex_right{
    width: 120px;
    display: flex;
    flex-direction: row-reverse;
}

.main button{
    height: 60px;
    width: 60px;
}

.main_dropdown{
    flex:1;
    display:flex;
    flex-direction: row;
}