html, body, #__next{
    margin: 0;
    height: 100%;
    min-width: 320px;
}
body{
    margin: 0;
}
div{
    background-color: #FBFEF9;
}
p{
    color: #191923;
}
.MuiBox-root{
    background-color: #FBFEF9;
}
